// Переменые, кот. позволяют быстро редактировать все элименты на своем сайте 
	
//Цвет текста
$color-grey: #777777

//Основные цвета сайта
$color-brown-light: #BA8554
$color-brown-darck: #A14F03

//Черный и белый цвет сайта
$color-white: #FAFAFA
$color-black: #000000

//Тень для кнопок

$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.2))

// Переменные сетки Grid

$margin-vertical-big: 8rem //  Переменая margin-bottom, отступ с низу
$grid-width: 114rem // Переменая max-width
$gatter-horizontal: 6rem  // Переменая Отступа по горезонтали